
* {
 	margin: 0px;
 	padding: 0px;
}
#wrapper {
	background-color: #f6f6f6;
	height: 950px;
	width: 1030px;
	font-family: Arial, Helvetica, sans-serif;
}
#header {
	height: 50px;
	width: 100%;
}
#header h1 {
	display: inline;
	margin-left: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	line-height: 50px;
}
#header h2 {
	display: inline;
	margin-left: 375px;
	line-height: 50px;
}
#main {
	height: 930px;
	width: 980px;
	padding: 20px 25px;
	background: linear-gradient(to bottom right, #1e0d10, #6f5864);
}
#footer {
	height: 65px;
	width: 1030px;
	padding-top: 10px;
	background-color: #f8f8f8;
	color: #394ea7;
	text-align: center;	
	font-family: Arial, Helvetica, sans-serif;
}
.header_bar {
	height: 40px;
	width: 100%;
	background-color: #878493;
	color: #ffffff;
	display: inline-block;
}
.header_bar h2, h3, h4 {
	line-height: 40px;
	margin-left: 10px;
}
#profile {
}
#profile_image {
	display: inline-block;
}
#profile_image img {
	width: 400px;
	border-color: gray;
	border-width: 5px;
	border-style: solid;
}
#about {
	height: 273.156px;
	width: 530px;
	background-color: #ece5ec;
	display:inline-block;
	margin-left: 30px;
	vertical-align: top;
}
#about_contents {
	margin: 10px;	
}
#about a {
	color: #1a243f;
}
.application {
	height: 620px;
	width: 300px;
	display: inline-block;
	margin-top: 25px;
	background: linear-gradient(to bottom right, #fefefe, #dbcddb);
	vertical-align: top;
}
.notfirst, application {
	margin-left: 33px;
}
.app_image img {
	width: 100%;
	display: inline;
}
.app_description {
	height: 185px;
	width: 92%;
	margin: 10px;
	text-align: justify;
}
.app_tech_header, header_bar {
	height: 30px;
}
.app_tech_header h2, h3, h4 {
	line-height: 30px;
}
.app_techs {
	height: 110px;
	width: 100%;
	margin: 5px;
}
.app_techs img {
	width: 40px;
	display:inline;
	padding: 5px;
}
.app_link {
	display: block;
	margin: auto;
	/*margin-top: 10px;*/
}
.app_button, app_link {
  font-weight: bold;
  font-size: 15px;
  background-color: #407c61;
  color: #fcfefd;
  padding: 10px 7px 10px 7px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 2px 2px gray;
  display: block;
  margin:auto;
}
#contactinfo {
	color: #585858;
}
#handles {
	margin-top: 10px;
}
.socialmedia {
	display: inline;
	height: 30px;
}
.socialmedia img {
	height: 20px;
	vertical-align: bottom;
}
.socialmedia a {
	color: #585858;
}

