<!DOCTYPE html>
<html>
    <head>
		<title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt_reviewer_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
   </head>
    <body>
      <div id="wrapper">
        <div id="header">
          <span id="greeting">Welcome, {{user.first_name}}!</span>
          <p><a href="/books/addbook">Add Book and Review</a></p>
          <p><a href="/logout">Logout</a></p> 
        </div>
        <div id="recent_reviews">
          <h2>Recent Book Reviews:</h2>
            <div id="recent_list">
            {% if recent_books %}
              {% for book in recent_books %}
                <div class="book">
                  <a href="{{ book.id }}">{{book.title}}</a>
                  {% if book.get_reviews %}
                    {% for review in book.get_reviews %}
                      <p>Rating:
                        {% with ''|center:review.rating as range %}
                          {% for _ in range %}
                            *
                          {% endfor %}
                        {% endwith %}
                        {% if review.user.id == user.id %}
                        <a href="destroy/{{review.id}}">Delete</a></p>
                      {% endif %}
                      <p><a href="user/{{review.user.id}}">{{review.user.first_name}}</a> says: {{review.content}}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          </div>

        </div>
        <div id="booklist_box">
          <h2>Other Books with Reviews:</h2>
          <div id="book_list">
            {% if books %}
              {% for book in books %}
                <div class="book">
                  <a href="{{ book.id }}">{{book.title}}</a>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </body>
</html>