<h4>{{instructions}}</h4>

<div class='messages'>
    <p *ngFor = "let error of message" class='error'>{{error}}</p>
</div>

<div id="addform" class="formtext">
    <form id="add" (submit)="updatePet()">
        Pet name:
        <input class="block" [(ngModel)]="pet.name" name="pet.name" type="text"/>
        Pet type:
        <input class="block" [(ngModel)]="pet.type" name="pet.type" type="text"/>
        Description:
        <input class="block" [(ngModel)]="pet.description" name="pet.description" type="text"/>
        Skills:
        <div id="skills">
            Skill 1: <input class="skill" [(ngModel)]="pet.skills[0].text" name="pet.skills[0].text"/><br/>
            Skill 2: <input class="skill" [(ngModel)]="pet.skills[1].text" name="pet.skills[1].text"/><br/>
            Skill 3: <input class="skill" [(ngModel)]="pet.skills[2].text" name="pet.skills[2].text"/>
        </div>
        <button class="btn btn-info">{{buttonText}}</button>
        <button *ngIf="!editFlag" class="btn btn-info" [routerLink]="['/']">Cancel</button>
        <button *ngIf="editFlag" class="btn btn-info" [routerLink]="['/details', pet._id]">Cancel</button>
    </form>
</div>