* {
	margin: 0px;
	padding: 0px;
}
#header, #wordbox {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#header {
	width: 30%;
	margin-top: 30px;
	margin-bottom: 5px;
	padding: 10px;
}
#wordbox {
	border: 1px solid black;
	width: 40%;
	font-size: 24px;
	padding: 20px;
}
input[type=submit] {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;
}