<!--The content below is only a placeholder and can be replaced.-->

<p *ngIf="authors.length > 0">You have authors!</p>

<ul>
  <li *ngFor="let author of authors">{{author.first_name}} {{author.last_name}} {{author.birth_date}} {{author.country}}
    <ul *ngFor="let book of author.books">
      <li>{{book.title}} {{book.pub_year}}</li>
    </ul>
  </li>
</ul>

<p>{{author.first_name}} {{author.last_name}} {{author.birth_date}} {{author.country}}</p>
<ul *ngFor="let book of author.books">
  <li>{{book.title}} {{book.pub_year}}</li>
</ul>

<h3>Value of num is: {{num}}</h3>
<h3>Value of randNum is: {{randNum}}</h3>
<h3>{{str}}</h3>
<input type="text" [value]="first_name" />
<p *ngIf="loggedIn">You are logged in!</p>
<p *ngFor="let snack of snacks">{{snack}}</p>
<p *ngIf="snacks.length < 5">You need more snacks.</p>

