<!DOCTYPE html>
<html>
<head>
	<title>Dojo Info</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css')}}">
</head>
<body>

<h2>Enter some dojo info</h2>

<form action="">

<p><b>Name</b><input type="text" name="name"></p>
<p><b>Favorite Color</b><input type="color" name="fav_color"></p>
<p><b>A random word</b><input type="password" name="random_word"></p>
<p><b>Birth month</b><input type="month" name="birth_month"></p>
<p><input type="submit" name="Submit" value="Submit"></p>
</form>

</body>
</html>
