* {
    margin: 0;
    padding: 0;
}
.error {
    color: crimson;
}
td {
    margin: 10px;
    padding: 10px;
}
table {
    margin-bottom: 10px;
}
#wrapper {
    margin: 10px;
}
.element {
    padding: 5px;
}
a {
    margin: 10px;
}
.map-container {
    width: 70%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
#map {
    overflow:visible;
    display: inline-block;
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.restaurant-container {
    display: inline-block;
}
