<!DOCTYPE html>
<html>
    <head>
		<title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travels_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
   </head>
    <body>
      <div id="wrapper">
         <div id="mainbox">
            <div id="header">
              <p><a href="/travels_app">Home</a></p>
              <p><a href="/logout">Logout</a></p>
            </div>
           <div id="messages">
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li {% if message.tags == 'error' %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
          </div>
          <h2>{{trip.destination}}</h2>
          <table class="trip_detail">
            <tr>
              <td>Planned By:</td>
              <td>{{trip.owner.first_name}}</td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>{{trip.plan}}</td>
            </tr>
            <tr>
              <td>Travel Date From:</td>
              <td>{{trip.startdate}}</td>
            </tr>
            <tr>
              <td>Travel Date To:</td>
              <td>{{trip.enddate}}</td>
            </tr>
          </table>
          <h2>Other users joining the trip:</h2>
          {% if other_users %}
            <table class="trip_detail">
            {% for other_user in other_users %}
              <tr>
                <td>{{other_user.user.first_name}}</td>
              </tr>
            {% endfor %}
            </table>
          {% else %}
            <p>No other users.</p>
          {% endif %}
        </div>
      </div>
    </body>
</html>