<!DOCTYPE html>
<html>
    <head>
		<title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
   </head>
    <body>
      <div id="wrapper">
            <form action="/destroy/{{course.id}}" method="post">
              {% csrf_token %}
              <h2>Are you sure you want to delete the following course?</h2>
              <table>
                <tr>
                  <td>Name:</td>
                  <td>{{course.name}}</td>
                </tr>
                <tr>
                  <td>Description:</td>
                  <td>{{course.description.content}}</textarea></td>
                </tr>
              </table>
              <button name="confirm" value="no">No</button>
              <button name="confirm" value="yes">Yes! I want to delete this!</button>
            </form>
      </div>
    </body>
</html>