<a [routerLink]="['/add']">Add a quotable author</a>

<p class="instruct">We have quotes by:</p>

<table class="table table-bordered table-condensed table-responsive">
  <thead>
    <tr><th>Author</th><th>Actions Available</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors; let index = index" class="alternate{{index%2}}">
      <td>{{author.name}}</td>
      <td>
        <button class="btn button-view" [routerLink]="['/view', author._id]">View Quotes</button>
        <button class="btn button-edit" [routerLink]="['/add', author._id]">Edit</button>
        <button class="btn button-delete" (click)="deleteAuthor(author._id)">Delete</button></td> 
    </tr>
  </tbody>
</table>