* {
 	margin: 0px;
 	padding: 0px;
}
#menubar a { /* make more specific? */
	color: #61d6da;
}
#menubar ul {
  margin-left:17px;
}
#wrapper {
	background-color: #1c335d;
	height: 700px;
	width: 1180px;
	padding: 10px;
	color: #c1d7ea;
}
#header {
	background-color: #ce3035;
	height: 61px;
	width: 100%;
	border-radius: 15px;
	text-decoration-style: bold;
}
#header h1 {
	margin-left: 25px;
	line-height: 61px;
	color: #c2d7ec;
	line-height: 61px;
}
#main {
	margin-top: 20px;
	margin-bottom: 20px;
}
#menubar {
	background-color: #2a7d8c;
	height: 220px;
	width: 190px;
	border-radius: 15px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	padding: 20px 0px 0px 20px;
}
#content {
	background-color: #0e1822;
	height: 510px;
	width: 905px;
	border-radius: 15px;
	display: inline-block;
	padding: 20px 20px 0px 20px;
}
#footer {
	background-color: #5d6572;
	height: 35px;
	width: 1165px;
	border-radius: 15px;
	padding: 15px 0px 0px 15px;
}
#titlelist {
    padding-top: 0;
    margin: 0;
}
.blue {
	color: #696fd1;
}
