<html>
<head>
  <title>Add User</title>
    {% load static %}
  	<link rel="stylesheet" href="{% static 'semiresult_users_apps/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div id="messages">
		{% if messages %}
			<ul class="messages">
    		{% for message in messages %}
   				<li{% if message.tags == 'error' %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div id="mainbox">
		<h2>Add a new user</h2>
		<form action='/create' method="post">
			{% csrf_token %}
			<p>First name:</p>
			<input type="text" name="first_name" value="{{first_name}}">

			<p>Last name:</p>
			<input type="text" name="last_name" value="{{last_name}}">

			<p>Email:</p>
			<input type="text" name="email" value="{{email}}">

			<p>Password:</p>
			<input type="text" name="password">

			<p>Password confirm:</p>
			<input type="text" name="password_confirm">

			<br/><br/>
			<input type="submit" name="create" value="Create">
			</form>
			<a href="/">User List</a>
	</div>
</body>
</html>