* {
	margin: 0;
	padding: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h2 {
	color: blue;
}
input {
	padding: 5px;
}
label {
	padding: 5px;
}
tr {
	padding: 10px;
}
table {
	margin: 10px;
}
td {
	padding: 10px;
}
.label {
	font-weight: bold;
}
p {
	padding-bottom: 5px;
}
input[type=submit] {
	margin: 10px;
}
#results {
	margin: 5px;
	border: 1px solid black;
	width: 40%;
}
h3 {
	text-decoration: underline;
	margin: 3px;
}
#noninjas {
	color: red;
	margin: 20px;
	font-size: 24px;
}
#ninjasbox {
	margin: 20px;
}
#ninjasbox img {
	height: 300px;
}
#main_box {
	margin: 20px;
}