<html>
	<head>
		<title>Survey Results</title>
	</head>
	<body>
		<h2>Submitted Information</h2>
		<table>
			<tr>
				<td>Name:</td>
				<td><%= results.name %></td>
			</tr>
			<tr>
				<td>Dojo Location:</td>
				<td><%= results.location %></td>
			</tr>
			<tr>
				<td>Favorite Language:</td>
				<td><%= results.language %></td>
			</tr>
			<tr>
				<td>Comment:</td>
				<td><%= results.comments %></td>
			</tr>
		</table>
		<form action="/" method="get">
			<input type="submit" name="submit" value="Go Back">
		</form>
	</body>
</html>