<h3>These pets are looking for a home!</h3>
<a [routerLink]="['/add']">Add a pet to the shelter</a>

<table class="table table-bordered table-condensed table-responsive">
  <thead class='header'>
    <tr><th>Name</th><th>Type</th><th>Actions</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let pet of pets; let index = index" class="alternate{{index%2}}">
      <td>{{pet.name}}</td>
      <td>{{pet.type}}</td>
      <td>
        <button class="btn button-view button-view" [routerLink]="['/details', pet._id]">Details</button>
        <button class="btn button-edit button-edit" [routerLink]="['/edit', pet._id]">Edit</button>
    </tr>
  </tbody>
</table>