<!DOCTYPE html>
<html>
<head>
	<title>Add Otter</title>
</head>
<body>
	<% if(typeof(errors) != 'undefined' ) { %>
		<% for (var x in errors) { %>
		<h3><%= errors[x].message %></h3>
		<% } %>
	<% } %>
	<form action="/mongooses" method="post">
		<p>Name: <input type="text" name="name"></p>
		<p>Age: <input type="number" name="age"></p>
		<p>Color: <input type="text" name="color"></p>
		<p>Foods: <input type="text" name="foods"></p>
	
		<input type="submit" name="submit" value="Create"/>
	</form>
</body>
</html>